@page "/login"



@using CurrencyAnalyzer.Core.Interfaces
@using CurrencyAnalyzer.Core.Models
@using Microsoft.AspNetCore.Components.Forms


@inject IAuthService AuthService
@inject NavigationManager NavigationManager


<PageTitle>Přihlášení - Měnový Analyzátor</PageTitle>

<div style="max-width: 420px; margin: 80px auto; padding: 30px; border: 1px solid #ddd; border-radius: 10px;">

    <h3>Přihlášení</h3>

    <EditForm Model="@loginModel"
              OnValidSubmit="HandleLoginAsync"
              FormName="LoginForm">

        <DataAnnotationsValidator />

        <div class="mb-3">
            <label>Uživatelské jméno</label>
            <InputText @bind-Value="loginModel.Username"
                       class="form-control" />
        </div>

        <div class="mb-3">
            <label>Heslo</label>
            <InputText type="password"
                       @bind-Value="loginModel.Password"
                       class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary w-100">
            Přihlásit se
        </button>

    </EditForm>

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger mt-3">@errorMessage</div>
    }

</div>

@code {
    private LoginModel loginModel = new();
    private string? errorMessage;

    private async Task HandleLoginAsync()
    {
        Console.WriteLine("login SERVICE CALLED");
        var success = await AuthService.LoginAsync(loginModel.Username, loginModel.Password);

        if (success)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            errorMessage = "Nesprávné přihlašovací údaje!";
        }
    }
}
